body {
  background-color: #212121;
  color: #fff;
  font-family: monospace;
}

.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#clock {
  font-size: 40px;
  background-color: orange;
  padding: 20px 50px;
  margin-top: 10px;
  border-radius: 10px;
}

#clock > span {
  font-family: "Orbitron", sans-serif;
  color: black;
  font-weight: 600;
}

@media screen and (max-width: 425px) {
  #clock {
    font-size: 32px;
    padding: 15px 40px;
  }
}

@media screen and (max-width: 375px) {
  #clock {
    font-size: 28px;
    padding: 12px 30px;
  }
}
